<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Cosplay Collection</title>

   <!-- google font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap" rel="stylesheet">

   <!-- animation -->
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

   <!-- magnific popup -->
   <link rel="stylesheet" href="/assets/css/magnific-popup.css">

   <!-- font awesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous" referrerpolicy="no-referrer">

   <!-- slik carousel -->
   <link rel="stylesheet" href="/assets/css/slick-theme.css">
   <link rel="stylesheet" href="/assets/css/slick.css">

   <!-- bootstrap -->
   <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

   <!-- css -->
   <link rel="stylesheet" href="/assets/css/style.css">

   <!-- Color switch Alternatives -->
   <link rel="stylesheet" type="text/css" href="/color-switch/css/switch.css">
   <link href="/color-switch/css/color-2.css" rel="alternate stylesheet" type="text/css" title="color-2">
   <link href="/color-switch/css/color-3.css" rel="alternate stylesheet" type="text/css" title="color-3">
   <link href="/color-switch/css/color-4.css" rel="alternate stylesheet" type="text/css" title="color-4">
   <link href="/color-switch/css/color-5.css" rel="alternate stylesheet" type="text/css" title="color-5">
   <link href="/color-switch/css/color-6.css" rel="alternate stylesheet" type="text/css" title="color-6">
   <link href="/color-switch/css/color-7.css" rel="alternate stylesheet" type="text/css" title="color-7">
   <link href="/color-switch/css/color-8.css" rel="alternate stylesheet" type="text/css" title="color-8">

</head>

<body>
   <!-- This code is use for color chooser, you can delete -->
   <div id="switch-color" class="color-switcher">
      <div class="open"><i class="fas fa-cog"></i></div>
      <h4>COLOR OPTION</h4>
      <ul>
         <li><a class="color-1" onclick="setActiveStyleSheet('main'); return false;" href="#"><i
                  class="fas fa-cog"></i></a> </li>
         <li><a class="color-2" onclick="setActiveStyleSheet('color-2'); return false;" href="#"><i
                  class="fas fa-cog"></i></a> </li>
         <li><a class="color-3" onclick="setActiveStyleSheet('color-3'); return false;" href="#"><i
                  class="fas fa-cog"></i></a> </li>
         <li><a class="color-4" onclick="setActiveStyleSheet('color-4'); return false;" href="#"><i
                  class="fas fa-cog"></i></a> </li>
         <li><a class="color-5" onclick="setActiveStyleSheet('color-5'); return false;" href="#"><i
                  class="fas fa-cog"></i></a> </li>
         <li><a class="color-6" onclick="setActiveStyleSheet('color-6'); return false;" href="#"><i
                  class="fas fa-cog"></i></a> </li>
         <li><a class="color-7" onclick="setActiveStyleSheet('color-7'); return false;" href="#"><i
                  class="fas fa-cog"></i></a> </li>
         <li><a class="color-8" onclick="setActiveStyleSheet('color-8'); return false;" href="#"><i
                  class="fas fa-cog"></i></a> </li>
      </ul>
   </div>
   <!-- end color switch -->


   <div class="body-wrap">
      <!-- header area start -->
      <header class="header-area">
         <nav class="header-nav navbar fixed-top navbar-expand-lg position-absolute w-100">
            <div class="container header-nav-menu">
               <a class="navbar-brand" href="/profile">
                  <img src="/assets/images/cosplay/logo.png" alt="Header Logo">
               </a>

               <div class="collapse navbar-collapse d-none d-lg-block">
                  <ul class="navbar-nav m-auto">
                     <li class="nav-item">
                        <a href="/profile" class="nav-link py-3">Home</a>
                     </li>
                     <li class="nav-item">
                        <a href="#about" class="nav-link py-3">About</a>
                     </li>
                     <li class="nav-item">
                        <a href="#speakers" class="nav-link py-3">Characters</a>
                     </li>
                  </ul>
                  <div class="mode-and-button d-flex align-items-center">
                     <div class="mode me-md-3">
                        <img src="/assets/images/icon/sun.svg" alt="Sun" class="fa-sun" style="display: none;">
                        <img src="/assets/images/icon/moon.svg" alt="Moon" class="fa-moon">
                     </div>
                     <a href="/logout"><button class="header-btn custom-btn2">Log out</button></a>
                  </div>
               </div>

               <!-- mobile menu -->
               <!-- <div class="mobile-view-header d-block d-lg-none d-flex gap-3 align-items-center">
                  <div class="mode me-md-3">
                     <img src="/assets/images/icon/sun.svg" alt="Sun" class="fa-sun" style="display: none;">
                     <img src="/assets/images/icon/moon.svg" alt="Moon" class="fa-moon">
                  </div>
                  <button class="header-btn custom-btn2" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy Tickets</button>

                  <a class="border rounded-1 py-1 px-2 bg-light" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                     <span class="navbar-toggler-icon nav-toggler-icon"></span>
                  </a>

                  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" >
                     <div class="offcanvas-header">
                        <a class="navbar-brand" href="index.html">
                           <img src="/assets/images/cosplay/logo.png" alt="Header Logo">
                        </a>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                     </div>
                     <div class="offcanvas-body">
                        <div class="dropdown mt-3">
                           <ul class="navbar-nav m-auto">
                              <li class="nav-item">
                                 <a href="index.html" class="nav-link py-3">Homepages</a>
                                 <div class="drop-down">
                                    <div class="row drop-down-wrap g-0">
                                       <div class="col-7">
                                         
                                       </div>
                                       <div class="col-5">
                                          <div class="dropdown-thumb position-relative" style="background-image: url(/assets/images/banner/home-conference-dropdown-bg.jpg);">
                                             <span class="dropdown-sub position-absolute">Register Now</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="nav-item">
                                 <a href="#about" class="nav-link py-3">About</a>
                              </li>
                              <li class="nav-item">
                                 <a href="#schedule" class="nav-link py-3">Schedule</a>
                              </li>
                              <li class="nav-item">
                                 <a href="#sponsors" class="nav-link py-3">Sponsors</a>
                              </li>
                              <li class="nav-item">
                                 <a href="#speakers" class="nav-link py-3">Speakers</a>
                              </li>
                              <li class="nav-item">
                                 <a href="#pricing" class="nav-link py-3">Pricing</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div> -->
               <!-- end mobile menu -->

            </div>
         </nav>
         <section class="hero-sec" style="background-image: url(/assets/images/banner/group.png);">
            <div class="hero-slider-wrap">
               <div class="hero-slider-item overflow-hidden">
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-lg-8 col-md-6 order-md-1 order-2">
                           <div class="slider-item-content-wrap">
                              <div class="item-content">
                                 <h3 class="item-title1">
                                    Stay Organized with Your Cosplays!
                                 </h3>
                                 <img src="/assets/images/dots/dots.png" alt="Shadow Image"
                                    class="dots-1 opacity-50 img-moving-anim2">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </header>

      <!-- modal -->

      <div class="modal popup-box fade" id="exampleModal" tabindex="-1" aria-hidden="true">
         <!-- make the id the same for modal container and the button that calling it (so changes will affect whatever object the user clicked instead of just the first object) -->
         <div class="modal-dialog popup-box-dialog modal-dialog-centered">
            <div class="modal-content popup-box-content">
               <div class="popup-card" style="width:100%">
                  <button type="button" class="btn popup2-btn  ms-auto" data-bs-dismiss="modal"><i
                        class="fa-solid fa-xmark"></i></button>
                  <img src="/assets/images/popup.png" class="card-img-top" alt="popup-bg">
                  <div class="card-body popup-card-body">
                     <div class="popup-title-area">
                        <p class="popup-sub">Stay Organized</p>
                        <h5 class="card-title popup-title">Manage all of your references</h5>
                     </div>
                  </div>
                  <form action="/post/<%= post._id %>/createRef" class="popup-form" enctype="multipart/form-data"
                     method="POST">
                     <div class="row gy-3 mb-3">
                        <h3>Upload Pictures</h3>
                        <div class="col-lg-6">
                           <label for="exampleFormControlInput5" class="form-label">Image</label>
                           <input type="file" class="form-control" id="exampleFormControlInput5" placeholder="New Image"
                              name="file">
                        </div>

                        <hr>
                        <h3>Add Videos and Links</h3>
                        <div class="col-lg-6">
                           <label for="exampleFormControlInput6" class="form-label">Title</label>
                           <input type="text" class="form-control" id="exampleFormControlInput6" placeholder="Title"
                              name="title">
                        </div>
                        <div class="col-lg-6">
                           <label for="exampleFormControlInput7" class="form-label">Caption</label>
                           <input type="text" class="form-control" id="exampleFormControlInput7"
                              placeholder="Add a caption" name="caption">
                        </div>
                     </div>

                     <div class="col-lg-6">
                        <label for="exampleFormControlInput6" class="form-label">Link</label>
                        <input type="text" class="form-control" id="exampleFormControlInput6" placeholder="Link"
                           name="link">
                     </div>

                     <hr>
                     <div class="container mt-4">
                        <h3>Choose a Tag</h3>
                        <div class="mb-3">
                           <select name="tag">
                              <option value selected>Select One...</option>
                              <option value="wigs"> Wigs</option>
                              <option value="makeup"> Make-up</option>
                              <option value="clothes"> Clothes</option>
                              <option value="props"> Props</option>
                              <option value="ref"> References</option>
                              <option value="gallery"> Convention Photos</option>
                           </select>
                        </div>

                        <button class="custom-btn2" type="submit">Add</button>
                  </form>

               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- schedule sec start -->
   <section id="schedule" class="schedule-sec">
      <div class="container">
         <div class="section-head text-center col-xl-8 m-auto mb-5">
            <span class="label mb-4">Let's get started</span>
            <h2 class="title">
               Using our boards, you can manage your ideas and inspirations, as well as save your memories in the
               cosplays you've completed!
            </h2>
         </div>

         <div class="card-button col-5">
            <button class="custom-btn2" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Inspo</button>
         </div>

         <div class="schedule-content-wrap">
            <ul class="nav nav-pills schedule-nav-tab mb-5" id="pills-tab" role="tablist">
               <li class="nav-item schedule-nav-item" role="presentation">
                  <button class="nav-link active" id="pills-day-1-tab" data-bs-toggle="pill"
                     data-bs-target="#pills-day-1" type="button" role="tab" aria-controls="pills-day-1"
                     aria-selected="true">Overview</button>
               </li>
               <li class="nav-item schedule-nav-item" role="presentation">
                  <button class="nav-link" id="pills-day-2-tab" data-bs-toggle="pill" data-bs-target="#pills-day-2"
                     type="button" role="tab" aria-controls="pills-day-2" aria-selected="false">Wigs</button>
               </li>
               <li class="nav-item schedule-nav-item" role="presentation">
                  <button class="nav-link" id="pills-day-3-tab" data-bs-toggle="pill" data-bs-target="#pills-day-3"
                     type="button" role="tab" aria-controls="pills-day-3" aria-selected="false">Make-up</button>
               </li>
               <li class="nav-item schedule-nav-item" role="presentation">
                  <button class="nav-link" id="pills-day-4-tab" data-bs-toggle="pill" data-bs-target="#pills-day-4"
                     type="button" role="tab" aria-controls="pills-day-4" aria-selected="true">Clothes</button>
               </li>
               <li class="nav-item schedule-nav-item" role="presentation">
                  <button class="nav-link" id="pills-day-5-tab" data-bs-toggle="pill" data-bs-target="#pills-day-5"
                     type="button" role="tab" aria-controls="pills-day-5" aria-selected="false">Props</button>
               </li>
               <li class="nav-item schedule-nav-item" role="presentation">
                  <button class="nav-link" id="pills-day-6-tab" data-bs-toggle="pill" data-bs-target="#pills-day-6"
                     type="button" role="tab" aria-controls="pills-day-6" aria-selected="false">References</button>
               </li>
               <li class="nav-item schedule-nav-item" role="presentation">
                  <button class="nav-link" id="pills-day-7-tab" data-bs-toggle="pill" data-bs-target="#pills-day-7"
                     type="button" role="tab" aria-controls="pills-day-7" aria-selected="false">Convention
                     Photos</button>
               </li>

            </ul>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
     <div class="modal-content" id = "modalview">
       <div class="modal-body text-center">
         <div class="enlarged-image-container">
           <img id="enlargedImage" class="img-fluid" src="" alt="Enlarged Image">
         </div>
       </div>
     </div>
   </div>
 </div>
 
            <div class="tab-content schedule-tab-content" id="pills-tabContent">
               <div class="tab-pane fade show active" id="pills-day-1" role="tabpanel" aria-labelledby="pills-day-1-tab"
                  tabindex="0">

                  <section id="speakers" class="speakers-gallery-sec position-relative">
                     <div class="container">
                        <div class="speakers-gallery-items-wrap">
                           <div class="row">
                              <% for(var i=0; i<refs.length; i++) {%>
                                 <% if (!refs[i].title && !refs[i].caption && !refs[i].link) { %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                       <div class="speakers-gallery-item" data-aos="fade-up" data-aos-easing="linear"
                                          data-aos-duration="400">
                                          <div class="speakers-gallery-item-thumb overflow-hidden position-relative">
                                             <img class="img-fluid" src="<%= refs[i].image %>">
                                          </div>
                                          <ul class="social-icons social">
                                             <li>
                                                <a href="#" class="view-btn" data-image-url="<%= refs[i].image %>">View</a>
                                             </li>
                                             <li>
                                                <form
                                                   action="/post/<%= post._id %>/deleteRef/<%= refs[i]._id %>?_method=DELETE"
                                                   method="POST">
                                                   <a><button type="submit" class="delete-btn"><i class="fa fa-trash"
                                                            aria-hidden="true"></i></button></a>
                                                </form>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <% } %>
                                       <% } %>
                           </div>
                        </div>
                     </div>
                  </section>

                  <% for(var i=0; i<refs.length; i++) {%>
                     <% if (!refs[i].image) { %>
                        <div class="row schedule-item" data-aos="fade-right" data-aos-easing="linear"
                           data-aos-duration="1000" style="background-image: url(/assets/images/banner/schedule1.png);">
                           <div class="col-lg-4">
                              <div class="d-flex align-items-center justify-content-around">
                                 <div class="card-thumb item-thumb"></div>

                              </div>
                           </div>
                           <div class="col-lg-8">
                              <div class="d-flex align-items-center justify-content-between">
                                 <div class="card-title-area col-7">
                                    <h4 class="title">
                                       <%= refs[i].title %>
                                    </h4>
                                    <p class="title-desc">
                                       Link<a href="<%= refs[i].link %>" target="_blank">
                                          <%= refs[i].link %>
                                       </a>
                                    </p>
                                 </div>
                                 <div class="card-button col-5">
                                    <form action="/post/<%= post._id %>/deleteRef/<%= refs[i]._id %>?_method=DELETE"
                                       method="POST">
                                       <a><button type="submit" class="custom-btn2"><i class="fa fa-trash"
                                                aria-hidden="true"></i></button></a>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <% } %>
                           <% } %>


               </div>

               <!-- Wigs - links and iframes -->

               <div class="tab-pane fade" id="pills-day-2" role="tabpanel" aria-labelledby="pills-day-2-tab"
                  tabindex="0">

                  <section id="speakers" class="speakers-gallery-sec position-relative">
                     <div class="container">
                        <div class="speakers-gallery-items-wrap">
                           <div class="row">
                              <% for(var i=0; i<refs.length; i++) {%>
                                 <% if (!refs[i].title && !refs[i].caption && !refs[i].link && refs[i].tag==='wigs' ) {
                                    %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                       <div class="speakers-gallery-item" data-aos="fade-up" data-aos-easing="linear"
                                          data-aos-duration="400">
                                          <div class="speakers-gallery-item-thumb overflow-hidden position-relative">
                                             <img class="img-fluid" src="<%= refs[i].image %>">
                                          </div>
                                          <ul class="social-icons social">
                                             <li>
                                                <a href="#">View</a>
                                             </li>
                                             <li>
                                                <form
                                                   action="/post/<%= post._id %>/deleteRef/<%= refs[i]._id %>?_method=DELETE"
                                                   method="POST">
                                                   <a><button type="submit" class="delete-btn"><i class="fa fa-trash"
                                                            aria-hidden="true"></i></button></a>
                                                </form>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <% } %>
                                       <% } %>
                           </div>
                        </div>
                     </div>
                  </section>


                  <div class="row schedule-item" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000"
                     style="background-image: url(/assets/images/banner/schedule2.png);">
                     <div class="col-lg-4">
                        <div class="d-flex align-items-center justify-content-around">
                           <div class="card-thumb">
                              <img src="/assets/images/profile2.png" alt="Profile 2">
                           </div>
                           <div class="card-description">
                              <a><span class="name d-block">Links</span></a>

                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8">
                        <div class="d-flex align-items-center justify-content-between">
                           <div class="card-title-area col-7">
                              <h4 class="title">Sessions and Labs</h4>
                              <p class="title-desc">Discover the latest trends in creativity and get inspired by
                                 creative leaders.<a href="#">Read More</a></p>
                           </div>
                           <div class="card-buttoncol-5">
                              <button class="custom-btn2" data-bs-toggle="modal"
                                 data-bs-target="#exampleModal">Delete</button>
                           </div>
                        </div>
                     </div>
                  </div>


               </div>

               <!-- makeup -->

               <div class="tab-pane fade" id="pills-day-3" role="tabpanel" aria-labelledby="pills-day-3-tab"
                  tabindex="0">

                  <section id="speakers" class="speakers-gallery-sec position-relative">
                     <div class="container">
                        <div class="speakers-gallery-items-wrap">
                           <div class="row">
                              <% for(var i=0; i<refs.length; i++) {%>
                                 <% if (!refs[i].title && !refs[i].caption && !refs[i].link && refs[i].tag==='makeup' )
                                    { %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                       <div class="speakers-gallery-item" data-aos="fade-up" data-aos-easing="linear"
                                          data-aos-duration="400">
                                          <div class="speakers-gallery-item-thumb overflow-hidden position-relative">
                                             <img class="img-fluid" src="<%= refs[i].image %>">
                                          </div>
                                          <ul class="social-icons social">
                                             <li>
                                                <a href="#">View</a>
                                             </li>
                                             <li>
                                                <form
                                                   action="/post/<%= post._id %>/deleteRef/<%= refs[i]._id %>?_method=DELETE"
                                                   method="POST">
                                                   <a><button type="submit" class="delete-btn"><i class="fa fa-trash"
                                                            aria-hidden="true"></i></button></a>
                                                </form>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <% } %>
                                       <% } %>
                           </div>
                        </div>
                     </div>
                  </section>

                  <div class="row schedule-item" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000"
                     style="background-image: url(/assets/images/banner/schedule1.png);">
                     <div class="col-lg-4">
                        <div class="d-flex align-items-center justify-content-around">
                           <div class="card-thumb">
                              <img src="/assets/images/profile3.png" alt="Profile 3">
                           </div>
                           <div class="card-description">
                              <span class="name d-block">Monica Smith</span>
                              <span class="date d-block">October 2, 2023</span>
                              <span class="time d-block">10:00 - 10:45</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8">
                        <div class=" d-flex align-items-center justify-content-between">
                           <div class="card-title-area col-7">
                              <h4 class="title">Events and Networking</h4>
                              <p class="title-desc">Discover the latest trends in creativity and get inspired by
                                 creative leaders.<a href="#">Read More</a></p>
                           </div>
                           <div class="card-button col-5">
                              <button class="custom-btn2" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy
                                 Tickets</button>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

               <!-- clothes -->

               <div class="tab-pane fade" id="pills-day-4" role="tabpanel" aria-labelledby="pills-day-4-tab"
                  tabindex="0">

                  <section id="speakers" class="speakers-gallery-sec position-relative">
                     <div class="container">
                        <div class="speakers-gallery-items-wrap">
                           <div class="row">
                              <% for(var i=0; i<refs.length; i++) {%>
                                 <% if (!refs[i].title && !refs[i].caption && !refs[i].link && refs[i].tag==='clothes' )
                                    { %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                       <div class="speakers-gallery-item" data-aos="fade-up" data-aos-easing="linear"
                                          data-aos-duration="400">
                                          <div class="speakers-gallery-item-thumb overflow-hidden position-relative">
                                             <img class="img-fluid" src="<%= refs[i].image %>">
                                          </div>
                                          <ul class="social-icons social">
                                             <li>
                                                <a href="#">View</a>
                                             </li>
                                             <li>
                                                <form
                                                   action="/post/<%= post._id %>/deleteRef/<%= refs[i]._id %>?_method=DELETE"
                                                   method="POST">
                                                   <a><button type="submit" class="delete-btn"><i class="fa fa-trash"
                                                            aria-hidden="true"></i></button></a>
                                                </form>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <% } %>
                                       <% } %>
                           </div>
                        </div>
                     </div>
                  </section>



                  <div class="row schedule-item" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000"
                     style="background-image: url(/assets/images/banner/schedule2.png);">


                     <div class="col-lg-4">
                        <div class="d-flex align-items-center justify-content-around">
                           <div class="card-thumb">
                              <img src="/assets/images/profile4.png" alt="Profile 4">
                           </div>
                           <div class="card-description">
                              <span class="name d-block">Vincent Smith</span>
                              <span class="date d-block">October2,2023</span>
                              <span class="time d-block">12:00 - 12:45</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8">
                        <div class=" d-flex align-items-center justify-content-between">
                           <div class="card-title-area col-7">
                              <h4 class="title">Luminary Sessions</h4>
                              <p class="title-desc">Discover the latest trends in creativity and get inspired by
                                 creative leaders.<a href="#">Read More</a></p>
                           </div>
                           <div class="card-button col-5">
                              <button class="custom-btn2" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy
                                 Tickets</button>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

               <!-- props -->
               <div class="tab-pane fade" id="pills-day-5" role="tabpanel" aria-labelledby="pills-day-5-tab"
                  tabindex="0">

                  <section id="speakers" class="speakers-gallery-sec position-relative">
                     <div class="container">
                        <div class="speakers-gallery-items-wrap">
                           <div class="row">
                              <% for(var i=0; i<refs.length; i++) {%>
                                 <% if (!refs[i].title && !refs[i].caption && !refs[i].link && refs[i].tag==='props' ) {
                                    %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                       <div class="speakers-gallery-item" data-aos="fade-up" data-aos-easing="linear"
                                          data-aos-duration="400">
                                          <div class="speakers-gallery-item-thumb overflow-hidden position-relative">
                                             <img class="img-fluid" src="<%= refs[i].image %>">
                                          </div>
                                          <ul class="social-icons social">
                                             <li>
                                                <a href="#">View</a>
                                             </li>
                                             <li>
                                                <form
                                                   action="/post/<%= post._id %>/deleteRef/<%= refs[i]._id %>?_method=DELETE"
                                                   method="POST">
                                                   <a><button type="submit" class="delete-btn"><i class="fa fa-trash"
                                                            aria-hidden="true"></i></button></a>
                                                </form>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <% } %>
                                       <% } %>
                           </div>
                        </div>
                     </div>
                  </section>
                  <div class="row schedule-item" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000"
                     style="background-image: url(/assets/images/banner/schedule2.png);">
                     <div class="col-lg-4">
                        <div class="d-flex align-items-center justify-content-around">
                           <div class="card-thumb">
                              <img src="/assets/images/profile4.png" alt="Profile 4">
                           </div>
                           <div class="card-description">
                              <span class="name d-block">Vincent Smith</span>
                              <span class="date d-block">October2,2023</span>
                              <span class="time d-block">12:00 - 12:45</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8">
                        <div class=" d-flex align-items-center justify-content-between">
                           <div class="card-title-area col-7">
                              <h4 class="title">Luminary Sessions</h4>
                              <p class="title-desc">Discover the latest trends in creativity and get inspired by
                                 creative leaders.<a href="#">Read More</a></p>
                           </div>
                           <div class="card-button col-5">
                              <button class="custom-btn2" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy
                                 Tickets</button>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

               <!-- references -->
               <div class="tab-pane fade" id="pills-day-6" role="tabpanel" aria-labelledby="pills-day-6-tab"
                  tabindex="0">

                  <section id="speakers" class="speakers-gallery-sec position-relative">
                     <div class="container">
                        <div class="speakers-gallery-items-wrap">
                           <div class="row">
                              <% for(var i=0; i<refs.length; i++) {%>
                                 <% if (!refs[i].title && !refs[i].caption && !refs[i].link && refs[i].tag==='ref' ) {
                                    %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                       <div class="speakers-gallery-item" data-aos="fade-up" data-aos-easing="linear"
                                          data-aos-duration="400">
                                          <div class="speakers-gallery-item-thumb overflow-hidden position-relative">
                                             <img class="img-fluid" src="<%= refs[i].image %>">
                                          </div>
                                          <ul class="social-icons social">
                                             <li>
                                                <a href="#">View</a>
                                             </li>
                                             <li>
                                                <form
                                                   action="/post/<%= post._id %>/deleteRef/<%= refs[i]._id %>?_method=DELETE"
                                                   method="POST">
                                                   <a><button type="submit" class="delete-btn"><i class="fa fa-trash"
                                                            aria-hidden="true"></i></button></a>
                                                </form>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <% } %>
                                       <% } %>
                           </div>
                        </div>
                     </div>
                  </section>


                  <div class="row schedule-item" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000"
                     style="background-image: url(/assets/images/banner/schedule1.png);">
                     <div class="col-lg-4">
                        <div class="d-flex align-items-center justify-content-around">
                           <div class="card-thumb">
                              <img src="/assets/images/profile1.png" alt="Profile 1">
                           </div>
                           <div class="card-description">
                              <span class="name d-block">Stella Smith</span>
                              <span class="date d-block">October2,2023</span>
                              <span class="time d-block">08:00 - 08:45</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8">
                        <div class=" d-flex align-items-center justify-content-between">
                           <div class="card-title-area col-7">
                              <h4 class="title">Presentation and Keynotes</h4>
                              <p class="title-desc">Discover the latest trends in creativity and get inspired by
                                 creative leaders.<a href="#">Read More</a></p>
                           </div>
                           <div class="card-button col-5">
                              <button class="custom-btn2" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy
                                 Tickets</button>
                           </div>
                        </div>
                     </div>
                  </div>



               </div>

               <!-- Con photos -->
               <div class="tab-pane fade" id="pills-day-7" role="tabpanel" aria-labelledby="pills-day-7-tab"
                  tabindex="0">

                  <section id="speakers" class="speakers-gallery-sec position-relative">
                     <div class="container">
                        <div class="speakers-gallery-items-wrap">
                           <div class="row">
                              <% for(var i=0; i<refs.length; i++) {%>
                                 <% if (!refs[i].title && !refs[i].caption && !refs[i].link && refs[i].tag==='gallery' )
                                    { %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                       <div class="speakers-gallery-item" data-aos="fade-up" data-aos-easing="linear"
                                          data-aos-duration="400">
                                          <div class="speakers-gallery-item-thumb overflow-hidden position-relative">
                                             <img class="img-fluid" src="<%= refs[i].image %>">
                                          </div>
                                          <ul class="social-icons social">
                                             <li>
                                                <a href="#">View</a>
                                             </li>
                                             <li>
                                                <form
                                                   action="/post/<%= post._id %>/deleteRef/<%= refs[i]._id %>?_method=DELETE"
                                                   method="POST">
                                                   <a><button type="submit" class="delete-btn"><i class="fa fa-trash"
                                                            aria-hidden="true"></i></button></a>
                                                </form>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <% } %>
                                       <% } %>
                           </div>
                        </div>
                     </div>
                  </section>

                  <div class="row schedule-item" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000"
                     style="background-image: url(/assets/images/banner/schedule1.png);">
                     <div class="col-lg-4">
                        <div class="d-flex align-items-center justify-content-around">
                           <div class="card-thumb">
                              <img src="/assets/images/profile3.png" alt="Profile 3">
                           </div>
                           <div class="card-description">
                              <span class="name d-block">Monica Smith</span>
                              <span class="date d-block">October 2, 2023</span>
                              <span class="time d-block">10:00 - 10:45</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8">
                        <div class=" d-flex align-items-center justify-content-between">
                           <div class="card-title-area col-7">
                              <h4 class="title">Events and Networking</h4>
                              <p class="title-desc">Discover the latest trends in creativity and get inspired by
                                 creative leaders.<a href="#">Read More</a></p>
                           </div>
                           <div class="card-button col-5">
                              <button class="custom-btn2" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy
                                 Tickets</button>
                           </div>
                        </div>
                     </div>
                  </div>



               </div>
            </div>
            <div class="dots img-moving-anim1">
               <img src="/assets/images/dots/dots2.png" alt="Shadow Image">
            </div>
         </div>
      </div>
      <div class="shape">
         <img src="/assets/images/shape/2.svg" alt="Shape">
      </div>
   </section>
   <!-- schedule sec end -->

   <!-- <div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div> -->
   <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
   </div>




   <!-- footer area start -->
   <footer class="footer-area" style="background-image: url(/assets/images/banner/Footer.png);">
      <div class="container">
         <div class="footer-top">
            <div class="row">
               <div class=" col-lg-6">
                  <div class="row">
                     <div class="col-sm-6 col-lg-8 ">
                        <div class="footer-info">
                           <a href="index.html" class="footer-logo">
                              <img src="/assets/images/logo/footerlogo.png" alt="Footer Logo">
                           </a>
                           <p class="footer-desc">
                              Join 5,000+ dev and designers professionals for the world’s largest virtual conference
                              series with 4+ fully immersive events covering the newest technology innovations, best
                              practices, and more.
                           </p>
                           <ul class="footer-social social">
                              <li>
                                 <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                              </li>
                              <li>
                                 <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                              </li>
                              <li>
                                 <a href=""><i class="fa-brands fa-twitter"></i></a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-sm-6 col-lg-4">
                        <div class="footer-about custom-item">
                           <h5 class="title">About</h5>
                           <ul class="about-item">
                              <li><a href="">Conference Schedule</a></li>
                              <li><a href="">Buy Tickets</a></li>
                              <li><a href="">Sponsoring</a></li>
                              <li><a href="">Volunteer</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class=" col-lg-6">
                  <div class="row">

                     <div class="col-sm-6">
                        <div class="footer-enterprise custom-item">
                           <h5 class="title">Enterprise</h5>
                           <ul class="enterprise-item">
                              <li><a href="">Committees</a></li>
                              <li><a href="">Advisory Boards</a></li>
                              <li><a href="">Apply to Speak</a></li>
                              <li><a href="">Register</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="footer-contact custom-item">
                           <h5 class="title">Contact</h5>
                           <ul class="contact-item">
                              <li><a href="">Help Desk</a></li>
                              <li><a href="">Comntact Us</a></li>
                              <li><a href="">Documentation</a></li>
                              <li><a href="">Newsletter</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <hr>
         <div class="footer-copyright-area text-center pb-3">
            <span>© 2022 Eventor. All rights reserved. Theme made with passion by jThemes Studio</span>
         </div>
      </div>
   </footer>
   <!-- footer area end -->
   <!-- jquery -->

   <script src="/assets/js/jquery.min.js"></script>
   <script src="/assets/js/jquery.countdown.min.js"></script>

   <!-- animation -->
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

   <!-- magnific popup -->
   <script src="/assets/js/jquery.magnific-popup.min.js"></script>

   <!-- bootstrap -->
   <script src="/assets/js/bootstrap.min.js"></script>

   <!-- slick -->
   <script src="/assets/js/slick.min.js"></script>

   <!-- parallax js -->
   <script src="/assets/js/parallax.min.js"></script>

   <!-- javaScript -->
   <script src="/assets/js/main2.js"></script>

   <!-- color switch -->
   <script src="/color-switch/switch.js"></script>


</body>

</html>