<%- include('partials/header') -%>

   <!-- info sec start -->
   <div class="info-sec">
      <div class="container">

         <div class="info-countdown" style="background-image: url(assets/images/banner/bg.png);">
            <div class="section-head col-xl-9 m-auto text-center mb-5">
               <span class="label" id="countdown">Start the Countdown</span>
            </div>
            <form id="countdown">
               <label for="countdown-date" class="title">Enter the date for your next con: </label>
               <input type="date" id="countdown-date" name="countdown-date" required>
               <ul class="counter-box d-flex justify-content-around" data-countdown="">
               </ul>
            </form>

            <div class="dots img-moving-anim2">
               <img src="assets/images/dots/dots3.png" alt="Shadow Image">
            </div>
         </div>

      </div>
   </div>
   <!-- info sec end -->

   <!-- about sec start -->
   <section id="about" class="about-sec">

      <div class="container">
         <div class="dots img-moving-anim5">
            <img src="assets/images/dots/dots4.png" alt="Shape Images">
         </div>
         <div class="section-head col-xl-9 m-auto text-center mb-5">
            <span class="label">Welcome to Cosplay Collection</span>
            <h1 class="title mb-4">
               Here you can add your latest cosplay projects and organize all your references and links
            </h1>
            <p class="desc mx-3">
               Brought to you by Joyce Zhang, a software developer from Resilient Coders and an avid lover of arts and
               this craft. Made to make every cosplayer's con prep just a little easier.
            </p>
         </div>
   </section>

   <!-- about sec end -->
   <div class="container mt-5">
      <hr>
   </div>

   <!-- speakers sec end -->

   <section id="speakers" class="speakers-gallery-sec position-relative">
      <div class="container">
         <div class="section-head col-xl-8 m-auto text-center mb-5">
            <span class="label">Create a new Character Project</span>
            <h2 class="title">
               Here is where you can add your next character to list of cosplays.
            </h2>
         </div>
         <div class="speakers-gallery-items-wrap">

            <div class="row">
               <% for(var i=0; i<posts.length; i++) {%>
                  <!-- placed here because each new post will have the same styling and animation, as well fit in a row of 4. -->
                  <div class="col-md-6 col-lg-4 col-xl-3">
                     <div class="speakers-gallery-item" data-aos="fade-up" data-aos-easing="linear"
                        data-aos-duration="400">

                        <div class="speakers-gallery-item-thumb overflow-hidden position-relative">
                           <img class="img-fluid" src="<%= posts[i].image%>">
                        </div>
                        <ul class="social-icons social">
                           <li>
                              <a href="/post/<%= posts[i]._id%>">Work</a>
                           </li>
                           <li>
                              <a href="/post/editPost/<%= posts[i]._id%>" data-bs-toggle="modal"
                                 data-bs-target="#exampleModal-<%= posts[i]._id %>">Edit</a>
                              <!-- target should match the correct post object so modal changes would affect only that one. -->
                           </li>
                           <li>
                              <!-- use the delete method in the url in order to delete post; overrides the method of post to delete -->
                              <form action="/post/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
                                 <a><button type="submit" class="delete-btn"><i class="fa fa-trash"
                                          aria-hidden="true"></i></button></a>
                              </form>
                           </li>
                        </ul>


                        <div class="item-content">
                           <h3 class="title">
                              <%= posts[i].title %>
                           </h3>
                           <span class="sub">
                              <%= posts[i].media %>
                           </span>
                        </div>

                     </div>
                  </div>
                  <% } %>
            </div>


            <div class="dots img-moving-anim1">
               <img src="assets/images/dots/dots8.png" alt="Shadow Image">
            </div>
         </div>
         <div>

            <div class="d-flex justify-content-center mt-5">
            <button class="custom-btn custom-btn2" value="Upload" data-bs-toggle="modal" data-bs-target="#addChara">+
               Character</button>
            </div>

         </div>
         <div class="shape">
            <img src="assets/images/shape/3.svg" alt="">
         </div>
   </section>

   <!-- Modal for Adding Posts -->
   <div class="modal fade popup-modal" id="addChara" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-hidden="true">
      <div class="modal-dialog modal-lg popup-dialogue modal-dialog-centered">

         <div class="modal-content popup-content p-4 bg-white">
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
               <div class="mb-3">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" class="form-control" id="imageUpload" name="file" required>
               </div>
               <div class="mb-3">
                  <label for="title" class="form-label">Name</label>
                  <input type="text" class="form-control" id="title" name="title" required>
               </div>
               <div class="mb-3">
                  <label for="media" class="form-label">Media</label>
                  <input type="text" class="form-control" id="media" name="media" required>
               </div>
               <button type="submit" class="custom-btn custom-btn2" value="Upload">Add</button>
            </form>

            <a class="btn btn-secondary  ms-auto" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></a>

         </div>

      </div>
   </div>
   </div>

   <!-- <div class="modal-body popup-body">
             <iframe width="100%" height="400" src="https://www.youtube.com/embed/1dtzSRlfBDk" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div> -->

 


   <!-- Modal for Editing Posts -->
   <!-- for loop outside the form and modal so it will only show the edit inputs for the ONE object, not all of them -->
   <% for(let i=0; i < posts.length; i++) {%>
      <div class="modal popup-box fade" id="exampleModal-<%= posts[i]._id %>" tabindex="-1" aria-hidden="true">
         <!-- make the id the same for modal container and the button that calling it (so changes will affect whatever object the user clicked instead of just the first object) -->
         <div class="modal-dialog popup-box-dialog modal-dialog-centered">
            <div class="modal-content popup-box-content">
               <div class="popup-card" style="width:100%">
                  <button type="button" class="btn popup2-btn  ms-auto" data-bs-dismiss="modal"><i
                        class="fa-solid fa-xmark"></i></button>
                  <img src="assets/images/popup.png" class="card-img-top" alt="popup-bg">
                  <div class="card-body popup-card-body">
                     <div class="popup-title-area">
                        <p class="popup-sub">Oops, made a mistake?</p>
                        <h5 class="card-title popup-title">You can edit your character!</h5>
                     </div>
                  </div>
                  <!-- route is the method of editPost with the correct object id, and the override method of put bc we are updating the info -->
                  <form action="/post/editPost/<%= posts[i]._id %>?_method=PUT" class="popup-form"
                     enctype="multipart/form-data" method="POST">
                     <div class="row gy-3 mb-3">
                        <div class="col-lg-6">
                           <label for="exampleFormControlInput5" class="form-label">Image</label>
                           <input type="file" class="form-control" id="exampleFormControlInput5" placeholder="New Image"
                              name="image" value="<%= posts[i].image %>">
                           <!-- value is the current text the object has in the db, just so the user knows what it says. -->
                           <div class="col-lg-6">
                              <label for="exampleFormControlInput6" class="form-label">Name</label>
                              <input type="text" class="form-control" id="exampleFormControlInput6"
                                 placeholder="New Name" name="title" value="<%= posts[i].title %>">
                           </div>
                           <div class="col-lg-6">
                              <label for="exampleFormControlInput7" class="form-label">Media</label>
                              <input type="text" class="form-control" id="exampleFormControlInput7"
                                 placeholder="New Media" name="media" value="<%= posts[i].media %>">
                           </div>
                        </div>
                        <button class="custom-btn2" type="submit">Save Changes</button>
                     </div>
                  </form>

               </div>
            </div>
         </div>
      </div>
      </div>
      <% } %>


         <!-- video sec start -->
         <section class="video-sec" data-src="assets/images/banner/home-conference-video-bg.svg" data-parallax>
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-6">
                     <div class="video-wrap">
                        <div class="video-image img-moving-anim1">
                           <img src="assets/images/cosplay/notconsent.jpg" alt="Video Image 1">
                        </div>
                        <div class="video-play">
                           <img src="assets/images/cosplay/sayno.png" alt="Video Image 2" data-bs-backdrop="static">
                        </div>
                        <div class="dots img-moving-anim2">
                           <img src="assets/images/dots/dots6.png" alt="Shadow Image">
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="video-content-wrap">
                        <h2 class="title">
                         Cosplaying is a fun activity but please practice good cosplay etiquette
                        </h2>
                        <p class="desc">
                         Remember cosplay is NOT consent. Dressing up as someone's favorite character does not give them the right to be overly-friendly or touch you, and vice versa. Make boundaries and stay safe.
                           <br><br>
                           Join us in person or attend virtually for free. Register now, in-person attendance is
                           limited.
                        </p>
                        <div class="management d-flex">
                           <h3 class="event count-block p-lg-5 p-3"><span>07</span>Days Event</h3>
                           <h3 class="speakers count-block p-lg-5 p-3"><span>20+</span>Speakers</h3>
                        </div>
                        <div class="dots img-moving-anim3">
                           <img src="/assets/images/dots/dots7.png" alt="Shadow Image">
                        </div>
                        <button class="custom-btn2 video-btn">Resister Now</button>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- video sec end -->


         <div class="container">
            <hr>
         </div>



         <div class="container">
            <hr>
         </div>
         <!-- faq sec start -->
         <section class="faq-sec">
            <div class="container">
               <div class="row align-items-end">
                  <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade-right" data-aos-duration="1000">
                     <div class="title-area">
                        <h2 class="title mb-3">
                           Frequently asked questions,
                           about the Cosplay Connection
                        </h2>
                        <p class="desc mb-5">
                           Eventor Collaborative, brought to you by IBM, is where the most inventive and
                           forward-thinking
                           nonprofit leaders come together
                           to discover emerging trends in fundraising and technology.
                        </p>

                        <button class="faq-btn custom-btn">Learn More</button>
                     </div>
                  </div>
                  <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                     <div class="question-area">
                        <div class="accordion" id="accordionExample">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                 <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Is this Eventor Conference 2023 for me?
                                 </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                    Are you a developer interested in building web applications and at the same time
                                    thinking
                                    about multiple parts of the stack needed to build them? Then this conference is for
                                    you.
                                    Many of the sessions either touch a specific concept or go about multiple parts of
                                    the
                                    stack.
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Can I change the attendee name on the ticket?
                                 </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                    Are you a developer interested in building web applications and at the same time
                                    thinking
                                    about multiple parts of the stack needed to build them? Then this conference is for
                                    you.
                                    Many of the sessions either touch a specific concept or go about multiple parts of
                                    the
                                    stack.
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Can I change the attendee name on the ticket?
                                 </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                    Are you a developer interested in building web applications and at the same time
                                    thinking
                                    about multiple parts of the stack needed to build them? Then this conference is for
                                    you.
                                    Many of the sessions either touch a specific concept or go about multiple parts of
                                    the
                                    stack.
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What is included in the ticket prices?
                                 </button>
                              </h2>
                              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                    Are you a developer interested in building web applications and at the same time
                                    thinking
                                    about multiple parts of the stack needed to build them? Then this conference is for
                                    you.
                                    Many of the sessions either touch a specific concept or go about multiple parts of
                                    the
                                    stack.
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- faq sec end -->
         <div class="container">
            <hr>
         </div>

         <!-- contact sec start -->
         <section class="contact-sec" data-aos="zoom-in" data-aos-duration="1000">
            <div class="container">
               <div class="col-xl-5 section-head text-center m-auto mb-5">
                  <span class="label">Contact The Eventor Sales Team</span>
                  <h2 class="title mx-2">
                     We are here when you need us.
                     Need immediate assistance?
                  </h2>
               </div>
               <div class="contact-wrap bg-none p-0">
                  <div class="dots">
                     <img src="assets/images/dots/dots13.png" alt="Shadow Image"
                        class="contact-dots-1 img-moving-anim2">
                  </div>
                  <div class="contact-wrap row py-4 px-3 contact align-items-center m-0">
                     <div class="col-lg-4">
                        <div class="contact-thumb-wrap"
                           style="background-image: url(assets/images/banner/contact-bg.png);">
                           <div class="contact-content">
                              <h5 class="title text-white">Contact Us</h5>
                              <p class="desc">
                                 Get in touch and let us know how
                                 we can help.
                              </p>
                              <div class="info">
                                 <a class="icon d-block mb-3">
                                    <img src="assets/images/icon/mail1.svg" alt="Mail" style="color: #fff;">
                                    conference@eventor.com
                                 </a>
                                 <a class="location d-block mb-3">
                                    <img src="assets/images/icon/map-pin2.svg" alt="Map"> conference@eventor.com
                                 </a>
                                 <a class="phone d-block">
                                    <img src="assets/images/icon/phone3.svg" alt="Phone">
                                    conference@eventor.com
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8 mt-4 mt-lg-0">
                        <form class="contact-form" action>
                           <div class="row gy-3">
                              <div class="col-lg-6">
                                 <label for="exampleFormControlInput1" class="form-label">First Name</label>
                                 <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Your First Name" required>
                              </div>
                              <div class="col-lg-6">
                                 <label for="exampleFormControlInput2" class="form-label">Last Name</label>
                                 <input type="text" class="form-control" id="exampleFormControlInput2"
                                    placeholder="Your Last Name" required>
                              </div>
                              <div class="col-lg-6">
                                 <label for="exampleFormControlInput3" class="form-label">Email address</label>
                                 <input type="email" class="form-control" id="exampleFormControlInput3"
                                    placeholder="Enter Email" required>
                              </div>
                              <div class="col-lg-6">
                                 <label for="exampleFormControlInput4" class="form-label">Subject</label>
                                 <input type="text" class="form-control" id="exampleFormControlInput4"
                                    placeholder="Enter Subject" required>
                              </div>
                           </div>
                           <div class="mb-3">

                           </div>
                           <div class="text-area col-12 mb-3">
                              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                 placeholder="Enter Your Comment"></textarea>
                           </div>
                           <button class=" custom-btn2" type="submit">Submit</button>
                        </form>
                     </div>
                  </div>

                  <div class="dots">
                     <img src="assets/images/dots/dots14.png" alt="Shadow Image"
                        class="contact-dots-2 img-moving-anim3">
                  </div>
               </div>
            </div>
         </section>
         <!-- contact sec end -->
         <div class="container">
            <hr>
         </div>


         <!-- Button trigger modal -->


         <!-- <div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div> -->

         <%- include('partials/footer') -%>